* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  font-size: 12px;
  color: #1d1e35;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  position: relative;
  max-width: 1440px;
  height: 30rem;
  border-radius: 16px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin: 2rem;
}

.card .image-wrapper {
  width: 100%;
}

.card .image-wrapper .woman-mobile, .card .image-wrapper .bg-mobile {
  display: none;
}

.card .image-wrapper .image-bg {
  background-image: url("../images/bg-pattern-desktop.svg");
  height: 30rem;
  background-position: 115% 60%;
  background-repeat: no-repeat;
}

.card .image-wrapper .image-bg .box {
  position: absolute;
  top: 47%;
  left: -12%;
}

.card .image-wrapper .image-bg .image-woman {
  background-image: url("../images/illustration-woman-online-desktop.svg");
  height: 30rem;
  background-position: 450% 60%;
  background-repeat: no-repeat;
}

.faq {
  padding: 2rem;
}

.faq h2 {
  margin: 2rem 0;
  font-size: 1.85rem;
}

.faq .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #e7e7e9;
}

.faq .item + .item {
  margin-top: 0.75rem;
}

.faq .item .question {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.faq .item .question:hover {
  color: #f47c57;
}

.faq .item .question::after {
  content: url("../images/icon-arrow-down.svg");
  margin-right: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.faq .item .question.active {
  font-weight: bold;
}

.faq .item .question.active::after {
  content: url("../images/icon-arrow-down.svg");
  margin-right: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .item .response {
  max-height: 0;
  font-size: 0.9rem;
  color: #787887;
  line-height: 1.5rem;
  padding-right: 2rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

@media (max-width: 1200px) {
  main {
    padding: 10rem 0;
  }
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  .card .image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -25%;
  }
  .card .image-wrapper .woman-mobile, .card .image-wrapper .bg-mobile {
    display: block;
    width: 20rem;
  }
  .card .image-wrapper .bg-mobile {
    position: absolute;
    top: 50%;
  }
  .image-bg {
    display: none;
  }
  .faq h2 {
    text-align: center;
    margin-top: 6rem;
  }
}

@media (max-width: 400px) {
  .card .image-wrapper {
    top: -20%;
  }
  .card .image-wrapper .woman-mobile, .card .image-wrapper .bg-mobile {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */