$text-dark-blue: hsl(238, 29%, 16%);

$text-soft-red: hsl(14, 88%, 65%);

$gradient-soft-violet: hsl(273, 75%, 66%);
$gradient-soft-blue: hsl(240, 73%, 65%);

$text-dark-grayish: hsl(237, 12%, 33%);
$text-dark-grayish-blue: hsl(240, 6%, 50%);

$divider-light: hsl(240, 5%, 91%);